<body>
  <div id="title">
      <span>Content Store</span>
  </div>

  <div class="text-description">
        <div class="content-2">
          <p id="color-blue">Got bulk orders or almost similar orders ? Fill the order brief in an excel sheet</p>
          <p id="light-color">If you're wondering about an easy way to place orders in large numbers, we provide a way customized just for that.<br>
            Download our excel sheet, and fill the order brief in the prescribed format and submit. In case you need any help,<u>we<br>
              are just a click away to assist you in placeing your order</u>
          </p>
          <button id="button0" type="button" class="btn btn-outline-info">Order via excel sheet</button>

        </div>
  </div>
  <div class="card">
    <table>
      <tr>
        <td>
            <mat-card class="mat-elevation-z0">
              <br>
                <mat-card-header>

                  <div mat-card-avatar class="header-image"></div>
                  <mat-card-title>Blog / Article</mat-card-title>
                  <mat-card-subtitle>from $500</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                  <p>
                    Typically 450-400 words, an e-book is<br>
                    perfect for your target audience ranging<br>
                    from prospective customers to users
                  </p>
                </mat-card-content>
                <mat-card-actions>
                    <button id="button1" type="button" class="btn btn-outline-info">Order</button>
                    <br><br>
                </mat-card-actions>
            </mat-card>
        </td>
        <td>
            <mat-card class="mat-elevation-z0">
              <br>
                <mat-card-header>
                  <div mat-card-avatar class="special-image"></div>
                  <mat-card-title id="special">Newsletter/ E-mailer</mat-card-title>
                  <mat-card-subtitle>from $1000</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                  <p>
                    Typically 450-400 words, an e-book is<br>
                    perfect for your target audience ranging<br>
                    from prospective customers to users
                  </p>
                </mat-card-content>
                <mat-card-actions>
                    <button id="button1" type="button" class="btn btn-outline-info">Order</button><br><br>
                </mat-card-actions>
            </mat-card>
        </td>
        <td>
            <mat-card class="mat-elevation-z0">
              <br>
                <mat-card-header>
                  <div mat-card-avatar class="header-image"></div>
                  <mat-card-title>Whitepaper</mat-card-title>
                  <mat-card-subtitle>from $2000</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                  <p>
                    Typically 450-400 words, an e-book is<br>
                    perfect for your target audience ranging<br>
                    from prospective customers to users
                  </p>
                </mat-card-content>
                <mat-card-actions>
                    <button id="button1" type="button" class="btn btn-outline-info">Order</button><br><br>
                </mat-card-actions>
            </mat-card>
        </td>
      </tr>
      <br><br>
      <tr>
          <td>
              <mat-card class="mat-elevation-z0">
                <br>
                  <mat-card-header>
                    <div mat-card-avatar class="header-image"></div>
                    <mat-card-title>e-book</mat-card-title>
                    <mat-card-subtitle>from $1000</mat-card-subtitle>
                  </mat-card-header>
                  <mat-card-content>
                    <p>
                      Typically 450-400 words, an e-book is<br>
                      perfect for your target audience ranging<br>
                      from prospective customers to users
                    </p>
                  </mat-card-content>
                  <mat-card-actions>
                      <button id="button1" type="button" class="btn btn-outline-info">Order</button><br><br>
                  </mat-card-actions>
              </mat-card>
          </td>
          <td>
              <mat-card class="mat-elevation-z0">
                <br>
                  <mat-card-header>
                    <div mat-card-avatar class="header-image"></div>
                    <mat-card-title>Report / Guide</mat-card-title>
                    <mat-card-subtitle>from $1000</mat-card-subtitle>
                  </mat-card-header>
                  <mat-card-content>
                    <p>
                      Typically 450-400 words, an e-book is<br>
                      perfect for your target audience ranging<br>
                      from prospective customers to users
                    </p>
                  </mat-card-content>
                  <mat-card-actions>
                      <button id="button1" type="button" class="btn btn-outline-info">Order</button><br><br>
                  </mat-card-actions>
              </mat-card>
          </td>
          <td>
              <mat-card class="mat-elevation-z0">
                <br>
                  <mat-card-header>
                    <div mat-card-avatar class="header-image"></div>
                    <mat-card-title>Product Description</mat-card-title>
                    <mat-card-subtitle>from $500</mat-card-subtitle>
                  </mat-card-header>
                  <mat-card-content>
                    <p>
                      Typically 450-400 words, an e-book is<br>
                      perfect for your target audience ranging<br>
                      from prospective customers to users
                    </p>
                  </mat-card-content>
                  <mat-card-actions>
                      <button id="button1" type="button" class="btn btn-outline-info">Order</button><br><br>
                  </mat-card-actions>
              </mat-card>
          </td>
      </tr>
      <br><br>
      <tr>
          <td>
              <mat-card class="mat-elevation-z0">
                <br>
                  <mat-card-header>
                    <div mat-card-avatar class="header-image"></div>
                    <mat-card-title>Website Content</mat-card-title>
                    <mat-card-subtitle>from $1000</mat-card-subtitle>
                  </mat-card-header>
                  <mat-card-content>
                    <p>
                      Typically 450-400 words, an e-book is<br>
                      perfect for your target audience ranging<br>
                      from prospective customers to users
                    </p>
                  </mat-card-content>
                  <mat-card-actions>
                      <button id="button1" type="button" class="btn btn-outline-info">Order</button><br><br>
                  </mat-card-actions>
              </mat-card>
          </td>
          <td>
              <mat-card class="mat-elevation-z0">
                <br>
                  <mat-card-header>
                    <div mat-card-avatar class="header-image"></div>
                    <mat-card-title>Video Script</mat-card-title>
                    <mat-card-subtitle>from $1000</mat-card-subtitle>
                  </mat-card-header>
                  <mat-card-content>
                    <p>
                      Typically 450-400 words, an e-book is<br>
                      perfect for your target audience ranging<br>
                      from prospective customers to users
                    </p>
                  </mat-card-content>
                  <mat-card-actions>
                      <button id="button1" type="button" class="btn btn-outline-info">Order</button><br><br>
                  </mat-card-actions>
              </mat-card>
          </td>
          <td>
              <mat-card class="mat-elevation-z0">
                <br>
                  <mat-card-header>
                    <div mat-card-avatar class="header-image"></div>
                    <mat-card-title>Company Profile / Brochure</mat-card-title>
                    <mat-card-subtitle>from $2000</mat-card-subtitle>
                  </mat-card-header>
                  <mat-card-content>
                    <p>
                      Typically 450-400 words, an e-book is<br>
                      perfect for your target audience ranging<br>
                      from prospective customers to users
                    </p>
                  </mat-card-content>
                  <mat-card-actions>
                      <button id="button1" type="button" class="btn btn-outline-info">Order</button><br><br>
                  </mat-card-actions>
              </mat-card>
          </td>
      </tr>
      <br><br>
      <tr>
          <mat-card class="mat-elevation-z0">
            <br>
              <mat-card-header>
                <div mat-card-avatar class="header-image"></div>
                <mat-card-title>Press Release</mat-card-title>
                <mat-card-subtitle>from $2000</mat-card-subtitle>
              </mat-card-header>
              <mat-card-content>
                <p>
                  Typically 450-400 words, an e-book is<br>
                  perfect for your target audience ranging<br>
                  from prospective customers to users
                </p>
              </mat-card-content>
              <mat-card-actions>
                  <button id="button1" type="button" class="btn btn-outline-info">Order</button><br><br>
              </mat-card-actions>
          </mat-card>
      </tr>
    </table>
    <br><br>
    <div class="social">

        <a href="#" class="fa fa-twitter"></a>
        <a href="#" class="fa fa-linkedin"></a>
        <a href="#" class="fa fa-instagram"></a>
        <a href="#" class="fa fa-facebook"></a>
        <br><br>
        <p>
            Copyright @ 2019 White Panda Media Pvt. Ltd.<br>
        All rights reserved<br><br>
        <u>Privacy policy</u>  |  <u>Terms of service</u>
         |  <u>Service Agreement</u>  |  <u>Contact us</u>
        </p>

    </div>



  </div>
</body>

