.sidenav-container {
  height: 100%;

}


.sidenav {
  width: 7%;

}

.sidenav .mat-toolbar {
  background: inherit;

}



.mat-toolbar{
  color: black;
  background-color: #fff;
  position: relative;
  top:0;
  z-index: 1;
}


img{
  position: relative;
  padding-left: 6%;
  top:15%;
  width: 14%;
  height: 60%;
}

.active-list-item {
  color: rgb(60, 185, 185) !important; /* Note: You could also use a custom theme */
}

#active{
  position: relative;
  left: 53%;
  padding-right: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-right: 4px solid rgb(60, 185, 185);
  width: 52px;
  height: 60px;

}

#notactive{
  position: relative;
  left: 54%;
  padding-right: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 47px;
  height: 60px;

}

#icons{
  position: relative;
  padding-left: 65%;

}



#bell{
  font-size: 25px;
  color: black;
}

.badge {
  position: relative;
  top: -10px;
  right: 12px;
  padding: 6px 6px;
  font-size: 35%;
  border-radius: 50%;
  background: rgb(243, 109, 109);
  color: white;

}

.header-image {

  background-color: rgb(137, 231, 137);
  background-size:cover;
  padding: 15% 15% 15% 15%;
  color: white !important;
  font-size: 17px;

}
