<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true"
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="!(isHandset$ | async)">

    <mat-nav-list>
      <br><br><br>
      <img id="active" src="assets/after.PNG" *ngIf="x==0" mat-list-item routerLink="/" routerLinkActive="active-list-item" (click)="x=0">
      <img id="notactive" src="assets/before.PNG" *ngIf="x!=0" mat-list-item routerLink="/" (click)="x=0"><br>
      <img id="active" src="assets/search(4).PNG" *ngIf="x==1" mat-list-item routerLink="/" routerLinkActive="active-list-item" (click)="x=1">
      <img id="notactive" src="assets/search(3).PNG" *ngIf="x!=1" mat-list-item routerLink="/" (click)="x=1"><br>
      <img id="active"  src="assets/house2.PNG"  *ngIf="x==2" mat-list-item routerLink="/" routerLinkActive="active-list-item" (click)="x=2">
      <img id="notactive" src="assets/house1.PNG" *ngIf="x!=2" mat-list-item routerLink="/" (click)="x=2">
    </mat-nav-list>

  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar>
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>

      <img src="../../assets/white.PNG" >
      <div id="icons">
        <a id="bell" href="#" class="fa fa-bell"><span class="badge">699</span></a>
        <a mat-card-avatar class="header-image">AB</a>
      </div>




    </mat-toolbar>
    <!-- Add Content Here -->
      <app-content></app-content>
  </mat-sidenav-content>
</mat-sidenav-container>
